!!! 5
%html
  %head
    %title sudoku31
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body.bp.two-col
    #container
      #header
        %h1 Sudoku31
        %ul.hmenu
          = render 'devise/menu/registration_items'
          = render 'devise/menu/login_items'
      #sidebar
        %div Sudoku (Japanese); English pronunciation: soo-doh-koo) is a logic-based, combinatorial number-placement puzzle. The objective is to fill a 9*9 grid with digits so that each column, each row, and each of the nine 3*3 sub-grids that compose the grid (also called "boxes", "blocks", "regions", or "sub-squares") contains all of the digits from 1 to 9. The puzzle setter provides a partially completed grid, which typically has a unique solution.Completed puzzles are always a type of Latin square with an additional constraint on the contents of individual regions. For example, the same single integer may not appear twice in the same 9*9 playing board row or column or in any of the nine 3x3 subregions of the 9x9 playing board. The puzzle was popularized in 1986 by the Japanese puzzle company Nikoli, under the name Sudoku, meaning single number. It became an international hit in 2005.
        = link_to "http://en.wikipedia.org/wiki/Sudoku", "http://en.wikipedia.org/wiki/Sudoku"
        
        
      #content
        %p.notice= notice
        %p.error= alert
        %p.success= notice

        = yield
      #footer
        %h5 &copy; Copyright 2011. All rights reserved. 

