!!! 5
%html
  %head
    %title Open Sudoku
    = stylesheet_link_tag :application
    %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag :application
    = csrf_meta_tags
  %body.bp.two-col
    #container
      #header
        %ul.hmenu
          = render 'devise/menu/registration_items' 
          = render 'devise/menu/login_items'
      #sidebar
        %div Sudoku (Japanese); English pronunciation: soo-doh-koo) is a logic-based, combinatorial number-placement puzzle. The objective is to fill a 9*9 grid with digits so that each column, each row, and each of the nine 3*3 sub-grids that compose the grid (also called "boxes", "blocks", "regions", or "sub-squares") contains all of the digits from 1 to 9. The puzzle setter provides a partially completed grid, which typically has a unique solution.Completed puzzles are always a type of Latin square with an additional constraint on the contents of individual regions. For example, the same single integer may not appear twice in the same 9*9 playing board row or column or in any of the nine 3x3 subregions of the 9x9 playing board. The puzzle was popularized in 1986 by the Japanese puzzle company Nikoli, under the name Sudoku, meaning single number. It became an international hit in 2005.
        = link_to "http://en.wikipedia.org/wiki/Sudoku", "http://en.wikipedia.org/wiki/Sudoku"
        
        <br/>
        <br/>
        <br/>
        <br/>
        %div Default username/password: <B> user@example.com/please.</B>
        %div After login, you can create/delete/manipulate a puzzle.
        %div <B>Warning!!!</B> All the data are stored on Heroku, and everyone can login with the same username and password, so it means you can manipulate the puzzles input by others on this site and vice visa.
        %div I might restore this site without any notification.
        %div If you want to setup a sudoku solver Website, you can clone this site from https://github.com/caiqingfeng/opensudo. 
        <br/>
        <br/>
        <br/>
        %div <I> A practice to rails 3.1 with heavy usage of CoffeeScript, Compass, Blueprint, Cucumber, RSpec</I>
        %div Author: <B>francois_cai@hotmail.com</B>
        
        
        
      #content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)

        #sudokus_convas
          %button#CreateSudo CreateSudo
          %button#TextSudo Convert text to Sudo
          #Convert-form-convas
            %form{:id => "Convert-form", :title => "Covert text to sudoku"}
              %textarea{:name => "textSudo", :cols => "40", :rows => "10"}
              <br/>
              %button#text2Sudo text2Sudo
          %button#ResetPuzzle ResetPuzzle
          <br/>
          <br/>
          #sudokutbl_convas
        #toolbox_convas
          <br/>
          <br/>
          #button_convas
            %button#GreedyMark GreedyMark
            %div Mark all possible values of all cells. 
          #button_convas
            %button#n_IN_n n_IN_n
            %div If cell12:24 and cell13:24, "24" should not appear on all other cells of line 1. 
          #button_convas
            %button#Reflection Reflection
            %div '9' in col 3, and line 1 and line 3 of grid 1 have certain numbers, then '9' should be in line 2 of grid 1, then the rest of line 2 should not comprise of '9'
          #button_convas
            %button#FindAnswer FindAnswer
            %div Get the answer!!! Be careful to use this, it will take very long time to run!!!
        %button#ListAllSudo Listing puzzles
        %button#Sudo2Text Save sudo to text
        #Convert-form-convas
          %form{:id => "Convert-form-2", :title => "Covert sudo to text"}
            %textarea{:name => "sudoText", :cols => "40", :rows => "10"}
            <br/>
        #puzzle_mgmt_convas
          = yield
      #footer
        %h5 &copy; Copyright 2011. All rights reserved. 

