%h3 Listing puzzles

#puzzles_list_convas
  %table#puzzles_list
    %tr
      %th Level
      %th Name
      %th.Description Description
      %th.ActionEdit
      %th.ActionDestroy

    - @puzzles.each do |puzzle|
      %tr
        %td= puzzle.level
        %td= puzzle.name
        %td= puzzle.description
        %td.hiddenField= puzzle.cellstring
        %td= link_to 'Edit', edit_puzzle_path(puzzle)
        %td= link_to 'Delete', puzzle, :confirm => 'Are you sure?', :method => :delete
    
  = will_paginate @puzzles
  
  = link_to 'New Puzzle', new_puzzle_path

%br

= render 'hidden_options'

